/*Sets the background color and text color for the webpage*/
body, html {
  background-color: #343D39;
  color: #6D6466;
  height: 100%
}

/*Sets navbar color*/
.navbar {
  background-color: #36311F;
}

/*Sets the navbar hover color*/
a.navbar-item:hover {
  background-color: #59544B;
}

/*Nav bar text and icon color*/
.navbar-item {
  color: #6D6466;

}
/*Sets up article so its not right up agasint the navbar and sides of the page*/
article {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
/*So the video will be centeriszed with out the use of framework*/
.video {
  margin-left: auto;
  margin-right: auto;
}
/*Sets how big the title will be and the color*/
.title {
  font-size: 40px;
  color: #6D6466;
}
/*Sets the subtitle color*/
.subtitle {
  color: #6D6466;
}
/*Sets label color*/
.label{
  color: #6D6466;
}
/*Sets the list font size*/
.list {
  font-size: 30px;
}
/*Sets the footer background*/
.footer {
  background-color: #343D39;
}

/*Sets the height too get the parallax too work on mobile devices and smaller screen resoultion devices*/
@media screen and (min-width: 1080px) {
  .parallax {
    background-image: url("banner2.jpeg");
    /*Height so the banner will be touching the navbar with no gaps*/
    height: 48%;
    background-attachment: fixed;
    /*contain used for the image too be scale able and not too bad on larger screen size devices */
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 719px){
  .parallax{
    background-image: url("banner2.jpeg");
    background-attachment: fixed;
    /*Used so the parallax works on moblie devices without looking too horrible*/
    height: 12%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1079px){
  .parallax{
    background-image: url("banner2.jpeg");
    background-attachment: fixed;
    /*Used so the parallax works on tablets and laptops without looking too horrible*/
    height: 18%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

ul {
  padding-left:20px;
  list-style:none;
 }
/*Getting custom bullet points in the website*/
li:before {
  font-family: 'FontAwesome';
  content: '\f192';
  margin:0 5px 0 -15px;
  color: #6D6466;
}
/*Sets defualt buttons so they will be in the same color scheme*/
.button.is-link {
  color: #6D6466;
  background-color: #36311F;
}

.button.is-link:hover{
  color: black;
  background-color: #59544B;
}
/*So hyperlinks will be the same color scheme*/
a{
  color: #6D6444;
}

/*Custom buttons for social media*/
#twitter {
  font-size: 30px;
  border: none;
  color: #6D6444;
  background: none;
  cursor: pointer;
  padding-top,
  padding-bottom: 14px;
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  border: 3px solid #6D6444;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
/*For when they hover it will change the colors too be the same colors as the company logo or website logo*/
#twitter:hover,
#twitter.active {
  background: #36B9FF;
  color: #f2f2f2;
}

#linkedin {
  font-size: 30px;
  border: none;
  color: #6D6444;
  background: none;
  cursor: pointer;
  padding-top,
  padding-bottom: 14px;
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid #6D6444;
  float: left;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

#linkedin:hover,
#linkedin.active {
  background: #015987;
  color: #f2f2f2;
}

#github {
  font-size: 30px;
  border: none;
  color: #6D6444;
  background: none;
  cursor: pointer;
  padding-top,
  padding-bottom: 14px;
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  border: 3px solid #6D6444;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

#github:hover,
#github.active {
  background: #f2f2f2;
  color: #a142f4;
}

#instagram {
  font-size: 30px;
  border: none;
  color: #6D6444;
  background: none;
  cursor: pointer;
  padding-top,
  padding-bottom: 14px;
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  border: 3px solid #6D6444;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

#instagram:hover,
#instagram.active {
  background:  linear-gradient( #400080, transparent),  linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  color: #f2f2f2;
}

#comment {
  font-size: 30px;
  border: none;
  color: #6D6444;
  background: none;
  cursor: pointer;
  padding-top,
  padding-bottom: 14px;
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  border: 3px solid #6D6444;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

#comment:hover,
#comment.active {
  color: #6D6444;
  background: #36311F;
}
/*Used for the embeded code font size*/
code {
  font-size: 90%;
}
/*Used for code block for easy too tell whats its used*/
pre code{
  background-color: #eee;
  border: 1px solid #343D39;
  display: block;
  padding: 5px;
}
